<settings>
    <realTime>1</realTime>
    <realTimeFPS>10</realTimeFPS>
    <realTimePort>3232</realTimePort>
    <cameras>
        <camera>
            <id>0</id>
            <resolutionX>800</resolutionX>
            <resolutionY>600</resolutionY>
            <resolutionDownSample>1.000000000</resolutionDownSample>
            <FPS>24</FPS>
            <colorRGB>1</colorRGB>
            <use2D>0</use2D>
            <use3D>0</use3D>
            <dataContext></dataContext>
            <depthSettings>
                <near>0.000000000</near>
                <far>0.000000000</far>
                <pointsDownSample>0.000000000</pointsDownSample>
            </depthSettings>
            <matrix>
                <r00>0.998021300</r00>
                <r01>-0.020780940</r01>
                <r02>-0.059445070</r02>
                <r03>16.918750000</r03>
                <r10>0.002070540</r10>
                <r11>0.954311200</r11>
                <r12>-0.298831200</r12>
                <r13>120.466500000</r13>
                <r20>0.062942130</r20>
                <r21>0.298113800</r21>
                <r22>0.952459500</r22>
                <r23>-267.347700000</r23>
                <r30>0.000000000</r30>
                <r31>0.000000000</r31>
                <r32>0.000000000</r32>
                <r33>1.000000000</r33>
            </matrix>
        </camera>
        <camera>
            <id>1</id>
            <resolutionX>800</resolutionX>
            <resolutionY>600</resolutionY>
            <resolutionDownSample>1.000000000</resolutionDownSample>
            <FPS>24</FPS>
            <colorRGB>1</colorRGB>
            <use2D>0</use2D>
            <use3D>0</use3D>
            <dataContext></dataContext>
            <depthSettings>
                <near>0.000000000</near>
                <far>0.000000000</far>
                <pointsDownSample>0.000000000</pointsDownSample>
            </depthSettings>
            <matrix>
                <r00>-0.074070890</r00>
                <r01>-0.249394500</r01>
                <r02>-0.965565600</r02>
                <r03>827.855600000</r03>
                <r10>-0.168322300</r10>
                <r11>0.957461700</r11>
                <r12>-0.234388700</r12>
                <r13>79.969490000</r13>
                <r20>0.982945700</r20>
                <r21>0.145165300</r21>
                <r22>-0.112898400</r22>
                <r23>674.230200000</r23>
                <r30>0.000000000</r30>
                <r31>0.000000000</r31>
                <r32>0.000000000</r32>
                <r33>1.000000000</r33>
            </matrix>
        </camera>
    </cameras>
</settings>
